@font-face {
  font-family: Montserat-bold;
  src: url("/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserat-thin;
  src: url("/assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: Montserat-regular;
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}
