$bgColorDark: #292929;
$bgColorMedium: #f9f9f9;
$bgColorLight: #ffffff;
$accentColor: #fe960f;
$fontColorDark: #686868;
$fontColorLight: #ffffff;
$wishHeartColor: #FF0000;
$inputBorderColor: rgb(211, 186, 170);
$inputWarningColor: rgba(228, 129, 129, 0.753);
$itemShadowColor: rgb(100, 100, 100, 0.4);

$mainFontBold: Montserat-bold;
$mainFontThin: Montserat-italic;
$mainFontRegular: Montserat-regular;
