$bgColorDark: #292929;
$bgColorMedium: #f9f9f9;
$bgColorLight: #ffffff;
$accentColor: #d3995f;
$fontColorDark: #686868;
$fontColorLight: #ffffff;
$wishHeartColor: #FF0000;

$mainFontBold: Montserat-bold;
$mainFontThin: Montserat-italic;
$mainFontRegular: Montserat-regular;
