@import '../../styles/_variables.scss';

.button {
  &_default {
    margin: 10px;
    border: 4px solid $accentColor;
    width: 150px;
    height: 35px;
    background-color: transparent;
    text-transform: uppercase;

    &:hover:enabled {
      background: $accentColor;
      transform: scale(1.08);
      transition: 0.1s ease-in-out;
      color: $fontColorLight;
    }

    &:disabled {
      border: 1px solid $inputBorderColor;
      background-color: $inputBorderColor;
      cursor: not-allowed;
    }
  }

  &_top-line {
    border:none;
    background-color: $bgColorDark;
    color: $fontColorLight;
  }

  &_accent {
    background: $accentColor;
    color: $fontColorLight;
  }

  &_navigation {
    width: 110px;
  }

  &_dark {
    border: none;
    background-color: $bgColorDark;
    color: $accentColor;
  }

  &_full-width {
    margin: 0;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
