@import '../../styles/_variables.scss';

.button {
  &_decline {
    border: 2px solid $bgColorDark;
    background-color: $bgColorDark;
  }

  &_default {
    margin: 10px;
    border: 4px solid $accentColor;
    width: 150px;
    height: 35px;
    background-color: transparent;
    text-transform: uppercase;

    &:hover:enabled {
      background: $accentColor;
      transform: scale(1.08);
      transition: 0.1s ease-in-out;
      color: $fontColorLight;
    }

    &:disabled {
      border: 1px solid rgb(211, 186, 170);
      background-color: rgb(211, 186, 170);
      cursor: not-allowed;
    }
  }

  &_top-line {
    border:none;
    background-color: $bgColorDark;
    color: $fontColorLight;
  }

  &_accent {
    background: $accentColor;
    color: $fontColorLight;
  }

  &_navigation {
    width: 110px;
  }
}
