<div class="bar__container">
  <div class="content__container col-12 bar">
    <div class="col-5 contact__container">
      <p class="col-6">gaboo@gmail.com</p>
      <p class="col-6">+12 345-678-90</p>
    </div>
    <div class="col-5 login__container">
      <div class="col-5 link__container">
        <fa-icon [icon]="faFacebookF" class="link__item"></fa-icon>
        <fa-icon [icon]="faTwitter" class="link__item"></fa-icon>
        <fa-icon [icon]="faGoogle" class="link__item"></fa-icon>
      </div>
      <a href="#" class="bar__link">Login</a>
      <a href="#" class="bar__link">Register</a>
    </div>
  </div>
</div>
