<div class="footer__container">
  <div class="content__container footer__wrapper">
      <div class="col-3">
        <div class="footer__logo">
          <app-main-logo [color]="'accent'"></app-main-logo>
        </div>
        <p>Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget
          consectetur sed, convallis at tellus.</p>
        <p>Created by Graphberry, Belgrade, Serbia</p>
      </div>
      <div class="col-2">
        <h4 class="footer__title">Links</h4>
        <ul>
          <li>Home</li>
          <li>Sign in</li>
          <li>Register</li>
          <li>FAQ</li>
          <li>Support</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
      <div class="col-2">
        <h4 class="footer__title">Shopping</h4>
        <ul>
          <li>Shopping Cart</li>
          <li>Winter</li>
          <li>Spring</li>
          <li>Summer</li>
          <li>Fall</li>
          <li>Collection</li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="footer__title">Contact Us</h4>
        <p>
          Get in touch with us via mall phone. We are waiting for
          your call or message
        </p>
        <app-button [class]="'button_accent'">Contact Us</app-button>
      </div>
  </div>
</div>
