@import '../../styles/_variables.scss';

.choose-view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;

  & > * {
    margin-right: 10px;
  }

  &__icon {
    font-size: 20px;
    color: $fontColorDark;
    cursor: default;
  }
}

.products-view {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


@media screen and (max-width: 992px) {
  .button-four {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .choose-view {
    display: none;
  }
}