<div *ngIf="productDetails" class="product-order content__container">
  <div class="product-order__image-preview">
    <app-product-preview
      [productImages]="product.images"
      [productTitle]="productDetails.title"
      [productVideoUrl]="product.video">
    </app-product-preview>
  </div>
  <app-product-details [productDetails]="productDetails">
    <div class="product-options">
      <app-select-size class="option" [sizes]="productDetails.options.sizes">
      </app-select-size>
      <app-select-quantity
        class="option"
        [maxNumber]="productDetails.options.quantity"
        (quantityChanged)=handleQtyChange($event)>
      </app-select-quantity>
      <app-select-color class="option" [colors]="productDetails.options.colors">
        <span class="option__label">Color</span>
      </app-select-color>
    </div>
    <div class="buttons-container">
      <app-button buttonClass="button_dark button_full-width"
        [isDisabled]="!selectedSize"
        (click)="onBuyClick()">
        Buy this item
      </app-button>
      <app-wish-button
        [productId]="productDetails?.productId"
        wishClass="wish__product-details">
      </app-wish-button>
    </div>
  </app-product-details>
</div>
