@import 'src/app/styles/variables';

$section-spacing: 10px;
$itemShadowColor: rgba(100, 100, 100, 0.4);

.product-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $section-spacing;
  padding: $section-spacing 0;

  .product-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .option {
      margin: $section-spacing 0;
      min-width: 85px;

      &__label {
        margin-right: 10px;
        text-transform: uppercase;
        font-size: 0.9em;
      }
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: $section-spacing 0;

    & > :first-child {
      width: 85%;
    }

    .heartIcon {
      color: $wishHeartColor;
      font-size: 1.4em;
      stroke: $itemShadowColor;
      stroke-width: 10%;
    }
  }
}

@media screen and (max-width: 992px) {
  .product-order {
    grid-template-columns: 60% 1fr;
  }
}

@media screen and (max-width: 768px) {
  .product-order {
    grid-template-columns: 1fr;

    &__image-preview {
      grid-row-start: 1;
    }
  }
}

