<nav class="scroll">
  <ul>
    <li 
      *ngFor="let component of pageComponents"
      class="menu"
      (click)="onItemSelect(component)"
      [ngSwitch]="component.selector"
    >     
      <fa-icon 
        *ngSwitchCase="'app-header'"
        [icon]="toHeaderIcon"
        class="icon"
        [class.disabled]="component.selector === activeElement?.selector"
      ></fa-icon>
      <fa-icon 
        *ngSwitchCase="'app-footer'"
        [icon]="toFooterIcon"
        class="icon"
        [class.disabled]="component.selector === activeElement?.selector"
      ></fa-icon>
      <span *ngSwitchDefault class="item"
        [class.active]="component.selector === activeElement?.selector"
      >
        <span class="item__text">{{component.title}}</span>
      </span> 
    </li>
  </ul>
</nav>
  