

$notification-color: (
  info: (
    bg: rgba(255, 187, 51, .8),
    text: white),
  success: (
    bg: rgba(0, 200, 81, .8),
    text: white),
  warning: (
    bg: rgba(51, 181, 229, .8),
    text: white),
  error: (
    bg: rgba(255, 53, 71, .8),
    text: white),
);

$spacing: 15px;

@function notification-background($type) {
  @return map-get(map-get($notification-color, $type), bg);
}

@function notification-text($type) {
  @return map-get(map-get($notification-color, $type), text);
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: $spacing;
  z-index: 5;

  &__header {
    border: 1px solid white;
    border-radius: 5px;
  }

  &__title {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding: $spacing;
  }

  &__msg {
    display: block;
    font-size: 1rem;
    padding: $spacing;
  }

  .icon {
    position: absolute;
    top: $spacing;
    right: $spacing;
  }
}
.error {
  background-color: notification-background(error);
  color: notification-text(error);
}

.warning {
  background-color: notification-background(warning);
  color: notification-text(warning);
}

.info {
  background-color: notification-background(info);
  color: notification-text(info);
}

.success {
  background-color: notification-background(success);
  color: notification-text(success);
}

