@import 'src/app/styles/variables';

$spacing: 15px;

ngx-image-zoom {
  display: block;
  grid-column: 2;
  grid-template-columns: 15% 1fr;
  grid-auto-rows: 1fr;
  grid-gap: $spacing;
  grid-row: 1 / 6;
  max-width: 100%;
  max-height: 100%;

  &:hover {
    cursor: zoom-in;
  }
}

::ng-deep .ngxImageZoomContainer > img {
  height: auto;
  width: 100%;
}

.product-preview {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-auto-rows: 1fr;
  grid-gap: $spacing;

  &__full-view {
    display: block;
    grid-column: 2;
    grid-row: 1 / 6;
    max-width: 100%;
    max-height: 100%;
    outline: none;
  }

  &__small-view {
    display: block;
    width: 100%;
    max-height: 100%;

    &__container {
      position: relative;
      cursor: pointer;
    }

    &.selected {
      filter: brightness(0.6);
    }
  }
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: $accentColor;
}