<div *ngIf="productMedia$ | async as mediaSource" class="product-preview">
  <img
    *ngIf="!mediaSource[selectedMediaIndex].video else videoPreview"
    class="product-preview__full-view"
    alt="{{ productTitle }}"
    title="{{ productTitle }}"
    [src]="mediaSource[selectedMediaIndex].url"
  >
  <ng-template #videoPreview>
    <video controls loop autoplay class="product-preview__full-view">
      <source [src]="mediaSource[selectedMediaIndex].url" type="video/mp4">
    </video>
  </ng-template>
  <div *ngFor="let media of mediaSource; let i = index"
    class="product-preview__small-view__container"
    (click)="onImageSelect(i)">
    <img *ngIf="!media.video else videoSmall"
      class="product-preview__small-view"
      alt="{{ productTitle }}"
      [src]="media.url"
      [class.selected]="i === selectedMediaIndex"
    >
    <ng-template #videoSmall>
      <video
        class="product-preview__small-view"
        [class.selected]="i === selectedMediaIndex">
        <source src="{{ media.url }}#t=0.1" type="video/mp4">
      </video>
      <fa-icon class="video-icon" [icon]="videoPreviewIcon"></fa-icon>
    </ng-template>
  </div>
</div>
