<div *ngIf="imagesSource?.length" class="product-preview">
  <img
    class="img_preview"
    alt="{{ productTitle }}"
    title="{{ productTitle }}"
    [src]="imagesSource[selectedImageID].url"
    *ngIf="!imagesSource[selectedImageID].video else videoPreview"
  >
  <ng-template #videoPreview>
    <video controls loop autoplay class="img_preview">
      <source [src]="imagesSource[selectedImageID].url" type="video/mp4">
    </video>
  </ng-template>
  <div *ngFor="let media of imagesSource; let i = index">
    <img
      *ngIf="!media.video else videoSmall"
      class="img_small"
      alt="{{ productTitle }}"
      [src]="media.url"
      [class.selected]="i === selectedImageID"
      (click)="onImageSelect(i)"
    >
    <ng-template #videoSmall>
      <video class="img_small" (click)="onImageSelect(i)" [class.selected]="i === selectedImageID">
        <source [src]="media.url + '#t=0.1'" type="video/mp4">
      </video>
    </ng-template>
  </div>
</div>
