<div class="bar__container">
  <div class="content__container col-12 bar">
    <div class="col-5 contact__container">
      <p class="col-6">{{ email }}</p>
      <p class="col-6">{{ telephone }}</p>
    </div>
    <div class="col-4 login__container">
      <div class="col-5 link__container">
        <a href="https://ru-ru.facebook.com/griddynamics">
          <fa-icon class="link__item" [icon]="faFacebookF"></fa-icon>
        </a>
        <a href="https://twitter.com/griddynamics">
          <fa-icon class="link__item" [icon]="faTwitter"></fa-icon>
        </a>
        <a href="https://www.google.com/">
          <fa-icon class="link__item" [icon]="faGoogle"></fa-icon>
        </a>
      </div>
      <div *ngIf="isAuthenticated; then LoggedIn; else LoggedOut;"></div>
      <ng-template #LoggedIn>
          <p class="bar__link"> Hello, {{ userName$ | async }}!</p>
          <a (click)="openModal('userProfile')">
            <img
              class="bar__avatar"
              alt="User"
              [src]="userAvatarUrl">
          </a>
          <a 
            class="bar__link" 
            routerLink="home"
            (click)="logOut()">
            Log out
          </a>
        </ng-template>
        <ng-template #LoggedOut>
          <a class="bar__link" (click)="openModal('signUp')">Sign Up</a>
          <a class="bar__link" (click)="openModal('login')">Login</a>
      </ng-template>
      <app-modal-window
        *ngIf="this.modalService.isModalOpened.login"
        modalName="login">
        <app-auth></app-auth>
      </app-modal-window>
      <app-modal-window
        *ngIf="this.modalService.isModalOpened.signUp"
        modalName="signUp">
        <app-auth></app-auth>
      </app-modal-window>
      <app-modal-window
        *ngIf="this.modalService.isModalOpened.userProfile"
        modalName="userProfile">
        <app-user-profile></app-user-profile>
      </app-modal-window>
    </div>
  </div>
</div>
