@import '../../styles/variables';

.product {
  display: flex;

  background: $bgColorMedium;
  box-shadow: -2px -16px 47px -19px rgba(255,255,255,0.8);

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

li {
  &:hover {
    color: $accentColor;
  }
}

@media screen and (max-width: 992px) {
  .product {
    &__navigation {
      flex-wrap: wrap;
      justify-content: center;
      height: 130px;

      &>p,
      >div {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .product {
    &__navigation {
      height: 200px;
    }
  }
}

@media screen and (max-width: 576px) {
  .product {
    &__navigation {
      height: 220px;
    }
  }
}

@media screen and (max-width: 320px) {
  .product {
    &__navigation {
      height: 350px;
    }
  }
}
