<h3 class="feedback__title">Custom feedbacks</h3>
<div class="feedback__container">
  <div *ngIf="currentProductReviews$ | async as reviews">
    <div *ngIf="reviews?.length; else noReviews">
      <div class="feedback" *ngFor="let review of reviews">
        <div class="user__details">
          <img alt="user avatar"
            class="user__avatar"
            [src]="userIconSrc" />
          <div class="details__wrapper">
            <star-rating [value]="review.rating"
              checkedcolor="orange"
              uncheckedcolor="gray"
              size="12px"
              readonly="true">
            </star-rating>
            <h4 class="user__name">{{ review.createdBy }}</h4>
            <p class="feedback__data">{{ review.createdAt | date:'medium' }}</p>
          </div>
        </div>
        <div class="feedback__details">
          <p class="feedback__message">{{ review.message }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noReviews>
    <p class="feedback_empty">Any feedbacks about this product yet</p>
  </ng-template>
</div>
