@import "../../../styles//variables";

.feedback {
  margin-top: 10px;

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__title {
    text-transform: uppercase;
    font-family: $mainFontBold;
    font-size: 1rem;
  }

  &_empty {
    padding: 10px 0;
    font-size: 1rem;
    color: $accentColor;
  }
}

.user {
  &__details {
    display: flex;
    align-items: flex-start;
  }

  &__avatar {
    margin: 10px 10px 10px 0;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 0 3px $accentColor, 0 0 13px $bgColorMedium;
  }

  &__name {
    font-family: $mainFontBold;
  }
}

.details {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
  }
}

.feedback {
  &__details {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid $accentColor;
  }

  &__message {

  }
}