@import '../../styles/variables';

.popular {
  padding-top: 50px;
  background: $bgColorMedium;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }
}

.product {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-self: center;
    padding: 20px 0;
    width: auto;
  }
}

.filter {
  &__panel {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  &__item {
    text-transform: uppercase;
    font-size: 0.9rem;
    background: inherit;

    &:hover {
      color: $accentColor;
    }
  }
}

@media screen and (max-width: 1200px) {
  .product {
    &__container {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 768px) {
  .filter{
    &__panel {
      width: 90%;
    }
  }
}

@media screen and (max-width: 576px) {
  .filter {
    &__panel {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 150px;
      padding: 10px;
      margin: 5px;
      border: 2px solid $accentColor;
    }
  }
}
