  <div class="authentication">
    <div class="authentication__wrapper">
      <div class="authentication__title">Sign up</div>
      <div *ngIf="errorMessage">
        <div class="authentication__error">
          {{errorMessage}}
        </div>
      </div>
      <form class="authentication__form"
            (ngSubmit)="onSubmit()" 
            ngNativeValidate>
        <div class="authentication__field">
          <label
            for="email"
            class="authentication__label">Email</label>
          <input
            [class.error]="!isEmailValid"
            [(ngModel)]="user.email"
            (input)="onValidateEmail()"
            name="email"
            type="email"
            required
            id="sign_up-email"
            class="authentication__input"
            placeholder="enter your email">
        </div>
        <div class="authentication__field">
          <label 
            for="password"
            class="authentication__label">Password</label>
          <input
            [(ngModel)]="user.password"
            [class.error]="!isPasswordValid"
            (input)="onValidatePassword()"
            name="password"
            type="password"
            required
            id="sign_up-password"
            class="authentication__input"
            placeholder="enter a password">
        </div>
        <app-button 
          buttonClass="button_success"
          type="submit">Submit</app-button>
        <app-button 
          buttonClass="button_warning" 
          (click)="modalService.close('sign-up')"
          type="button">Cancel</app-button>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <span class="authentication__paragraph">Already have an account?&nbsp;>
          <a 
            class="authentication__redirect" 
            (click)="modalService.close('sign-up');modalService.open('login')">Log in!</a>
          </span>
      </form>
    </div>
  </div>