<div class="slide-wrapper"  #slider>
  <button class="prev" #previous>&#10094;</button>
  <button class="next" #next>&#10095;</button>
  <div 
    *ngFor="let image of images; let i = index"

    >
    <div
      class="slide"
      *ngIf="i === currentIndex"
      [@slideAnimation]="currentDirection"
      [style.background-image]="'url(' + image + ')'">
    </div>
  </div>
  <ul>
    <li
      #bullet
      *ngFor="let image of images; let i = index"
      [ngClass]="{ active: i === currentIndex }"
      (click)="setSlide(i)">
    </li>
  </ul>
  <ng-content></ng-content>
</div>
