.slide-wrapper {
  height: 50vh;
  max-width: 1000px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slide {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: whitesmoke;

  li {
    height:10px;
    width:10px;
    background:#ccc;
    border-radius:50%;
    margin-left:3px;
    margin-right:3px;
    list-style-type: none;
    cursor: pointer;

    &:hover {
      background:#bbb;  
    }

    &.active {
      background:#066CB6;
    }
  }
}
