@import 'src/app/styles/variables';

.cart {
  background-color:rgb(253, 248, 246);

  &-content {
    flex-direction: column;
    padding: 40px 0;
  }

  &-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 25% 15% 10% 10%;
    grid-gap: 10px;
    padding-bottom: 10px;
  }

  &-footer {
    display: grid;
    grid-template-columns: 1fr 10% 10%;
    grid-gap: 10px;
    padding: 20px 0;
  }

  &__total-price {
    grid-column: 3;
    font-size: 20px;
    color: $accentColor;
    text-align: right;

    &__label {
      grid-column: 2;
    }
  }

  &__confirm-btn {
    grid-row: 2;
    grid-column: 2 / 4;
  }

  &-empty {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    &__title {
      font-size: 22px;
      text-align: center;
      color: $accentColor;
    }

    &__img {
      &__wrapper {
        margin: auto;
      }

      display: block;
      max-height: 360px;
      width: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .cart {
    &-header {
      display: none;
    }

    &-footer {
      grid-template-columns: 30% 1fr 1fr;
    }
  }
}
