<div
  class="search"
  #searchWrapper>
  <input 
    type="text" 
    placeholder="Search"
    class="search__input"
    (input)="search(searchBox.value)"
    #searchBox>
  <ul 
    *ngIf="searchBox.value" 
    class="search__dropdown">
    <li 
      class="search__result" 
      *ngFor="let product of products$ | async">
      <a 
        class="search__product" 
        routerLink="/products/{{product._id}}"
        (click)="searchBox.value=''; addIdToLocalStorage(product._id)">
        {{product.productName}}
      </a>
    </li>
  </ul>
</div>