<div class="content__container">
  <div class="col-12 menu">
    <ul class="col-3 menu__container">
      <li *ngFor="let gender of genders">
        <a [routerLink]="gender.url"
          (click)="filterProducts(gender.title)">{{ gender.title }}</a>
      </li>
    </ul>
    <app-main-logo logoColor="dark" class="logo col-4"></app-main-logo>
    <ul class="col-4 menu__container">
      <li *ngFor="let season of seasons">
        <a [routerLink]="season.url"
          (click)="filterProducts(season.title)">{{ season.title }}</a>
      </li>
    </ul>
  </div>
</div>
