@import '../../../styles/variables';

.menu {
  position: sticky;
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

li {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-self: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  li {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;

    &__container {
      width: 100%;
    }
  }

  li {
    font-size: 0.9rem;
  }

  .logo {
    width: 100%;
  }
}
