<div class="content__container">
  <div class="col-12 menu">
    <ul class="col-4 menu__container">
      <li *ngFor="let gender of genders">
        <a class="menu-item"
          [routerLink]="gender.url">
          {{ gender.title }}
        </a>
      </li>
    </ul>
    <app-main-logo
      logoColor="dark" 
      class="logo col-4"
      id="home">
    </app-main-logo>
    <ul class="col-4 menu__container">
      <li *ngFor="let season of seasons">
        <a class="menu-item"
          [routerLink]="season.url">
          {{ season.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
