<div class="filter-container">
  <div class="filter-criteria__wrapper">
    <h2 class="filter-criteria__title">Brand</h2>
    <div class="filter-criteria" *ngFor="let product of productBrand">
      <input class="filter-criteria__option" (change)="onCreateRequest($event)" type="checkbox" name="brand"
        value="{{ product }}">
      <label class="filter-criteria__subtitle">{{ product }}</label>
    </div>
  </div>
  <div class="filter-criteria__wrapper">
    <h2 class="filter-criteria__title">Category</h2>
    <div class="filter-criteria" *ngFor="let product of productCategory">
      <input class="filter-criteria__option" (change)="onCreateRequest($event)" type="checkbox" name="category"
        value="{{ product }}">
      <label class="filter-criteria__subtitle">{{ product }}</label>
    </div>
  </div>
  <app-button buttonClass="button_accent" (click)="onFilter()">Filter</app-button>
</div>