@import 'src/app/styles/variables';

$dropdown-spacing: 10px;
$dropdown-height: 30px;
$dropdown-width: 100px;
$dropdown-border-width: 1px;

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  border: $dropdown-border-width solid $accentColor;
  height: $dropdown-height;
  padding: 0 $dropdown-spacing * 2 0 $dropdown-spacing;
  background-color: white;
  min-width: $dropdown-width;
  cursor: pointer;
  outline: none;
  z-index: 1;

  &__selected {
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -$dropdown-border-width;
    border: $dropdown-border-width solid $accentColor;
    width: $dropdown-width;
    background-color: inherit;

    &__item {
      padding: $dropdown-spacing / 2 $dropdown-spacing;
      text-transform: uppercase;

      &:hover {
        background-color: $accentColor;
        color: $fontColorLight;
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $dropdown-spacing;
  }

  &[aria-expanded="true"] {
    .options {
      display: flex;
    }
  }
}