@import '../../styles/variables';

.product {
  padding-top: 50px;
  background: $bgColorMedium;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }

  &__item {
    width: 250px;
  }
}

.navigation {
  &__panel {
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
  }
}

li {
  &:hover {
    color: $accentColor;
  }
}

.button_load {
  padding: 30px 0;
  align-self: center;
}

@media screen and (max-width: 992px) {
  .product {
    &__navigation {
      flex-wrap: wrap;
      justify-content: center;
      height: 130px;

      &>p,
      >div {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .product {
    &__navigation {
      height: 200px;
    }
  }

  .navigation {
    &__panel {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 576px) {
  .product {
    &__navigation {
      height: 220px;
    }
  }
}

@media screen and (max-width: 320px) {
  .product {
    &__navigation {
      height: 350px;
    }
  }
}
