<div class="user-profile">
  <div class="user-profile__image-wrapper">
    <a routerLink="user-profile">
      <img
      alt="User avatar"
      class="user-profile__picture"
      [src]="userAvataUrl">
    </a>
    <span class="user-profile__status"></span>
  </div>
  <div class="user-profile__pages">
    <a
      class="user-profile__item"
      routerLink="user-profile"
      (click)="closeModal('userProfile')">
      Profile
    </a>
    <a
      class="user-profile__item"
      routerLink="user-shopping-history"
      (click)="closeModal('userProfile')">
      Shopping history
    </a>
    <a
      class="user-profile__item"
      routerLink="user-wishlist"
      (click)="closeModal('userProfile')">
      Wish list
    </a>
  </div>
</div>