@import '../../styles/_variables.scss';

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $bgColorLight;
    border-radius: 50%;
    box-shadow: 0 0 11px rgba(33, 33, 33, .3);
  }
}
