@import '../../../styles//variables';

.feedback {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    text-transform: uppercase;
    font-family: $mainFontBold;
    font-size: 1rem;
  }

  &__text {
    margin: 10px 0;
    border: 1px solid $bgColorDark;
    padding: 10px;
    width: 100%;
    height: 130px;

    &:focus {
      outline: none;
    }
  }
}

.characters_left {
  position: absolute;
  top: 15px;
  left: 5px;
  font-size: 0.8rem;
}