<div class="product">
  <div class="content__container product__wrapper">
    <div>
      <h2 class="col-12 content__title">From Our Collection</h2>
      <div class="product__navigation">
        <p class="col-5">
          {{ aboutProductsText }}
        </p>
        <div class="col-7">
          <div class="navigation__panel">
            <app-button *ngFor="let item of filterItems" [buttonClass]="'button_navigation'">
              {{ item }}
            </app-button>
          </div>
        </div>
      </div>
    </div>
    <div class="product__container">
      <app-product-item *ngFor="let product of productData"
        class="product__item"
        [src]="product.imgUrl" 
        [title]="product.title"
        [price]="product.price"
        [id]="product.id">
      </app-product-item>
    </div>
  </div>
</div>
