<div class="product">
  <div class="content__container product__wrapper">
    <div>
      <h2 class="col-12 content__title">From Our Collection</h2>
      <div class="product__navigation">
        <p class="col-5">
          Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo,
          lacinia eget consectetur sed, convallis at tellus.
        </p>
        <div class="col-7">
          <div class="navigation__panel">
            <app-button [class]="'button_navigation'">Trending</app-button>
            <app-button [class]="'button_navigation'">Bestsellers</app-button>
            <app-button [class]="'button_navigation'">New</app-button>
            <app-button [class]="'button_navigation'">On Sale</app-button>
          </div>
        </div>
      </div>
    </div>
    <div class="product__container">
      <app-product-item *ngFor="let product of productData"
        class="product__item"
        [src]="product.images[0].url[0]" 
        [title]="product.productName"
        [price]="product.price + ' uah'">
      </app-product-item>
    </div>
  </div>
</div>
