@import 'src/app/styles/variables';

.authentication {
  &__wrapper { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
  }

  &__title {
    font-family: $mainFontBold;
    font-size: 2rem;
    margin: 0 auto;
  }

  &__error {
    width: 70%;
    font-family: $mainFontRegular;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 10px auto;
    background-color: $saleTagColor;
    text-align: center;
    color: $fontColorLight;
  }

  &__form {
    // width: 70%;
    // margin: 0 auto;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1rem;
    font-family: $mainFontRegular;
  }

  &__input {
    margin: 5px 0;
    padding: 5px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none
  }

  &__paragraph {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }

  &__redirect {
    color: brown;
    width: 70%;
    padding: 10px 0;
    margin: 0 auto;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
    text-align: center;

    &:active {
     color: gray;
    }
  }
}

.error {
  border: 1px solid $inputWarningColor;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px $inputWarningColor;
}