@import 'src/app/styles/variables';

.authentication {
  &__wrapper { 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: 300px;
    color: $fontColorDark;
  }

  &__title {
    margin: 0 auto;
    font-family: $mainFontBold;
    font-size: 1.8rem;
  }

  &__error {
    margin: 10px auto;
    padding: 5px 10px;
    width: 70%;
    background-color: $saleTagColor;
    text-align: center;
    font-family: $mainFontRegular;
    font-size: 1.2rem;
    color: $fontColorLight;
  }

  &__form {
    margin: 0 auto;
    width: 90%;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1rem;
    font-family: $mainFontRegular;
  }

  &__input {
    margin: 5px 0;
    border: 2px solid #ccc; 
    padding: 5px; 
    outline: none
  }

  &__container {
    display: flex;
  }

  &__login {
    .sign-up__container {
      border: 1px solid black;
      border-bottom: none;
    }
    
    .login__container {
      border-bottom: 1px solid black;
    }
  }

  &__sign-up {
    .sign-up__container {
      border-bottom: 1px solid black;
    }

  .login__container {
    border: 1px solid black;
    border-bottom: none;
  }

  button {
    border: none;
  }
}

.sign-up__container {
  display: flex;;
  justify-content: center;
  align-items: center;
  background: $bgColorLight;
}

&__redirect {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  background: transparent;
  outline: none;
  text-align: center;

  &_active {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    background: transparent;
    outline: none;
    text-align: center;
    color: $accentColor;
    }
  }
}

.error {
  border: 1px solid $inputWarningColor;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px $inputWarningColor;
}

.modal-button {
  &__container {
    display: flex;
    justify-content: space-around;
  }
}