<div class="col-3 product-item__container"
  (mouseover)="changeImageToNext()"
  (mouseout)="changeImageToPrev()">
  <div class="product-item__picture__container">
    <a routerLink="/products/{{ productId }}">
      <div
        class="product-item__image-wrapper"
        [ngClass]="status | lowercase"
        (downloadImage)="onShowImage()">
        <img *ngIf="isImageShown && !isImgLoaded"
          class="placeholder-image"
          [src]="placeholderImage" />
        <img *ngIf="isImageShown"
          class="product-item__picture"
          [alt]="productTitle"
          [src]="currentImageUrl"
          (load)="isImgLoaded = true"/>
      </div>
    </a>
    <app-wish-button
      *ngIf="isImageShown"
      class="wish__btn"
      [productId]="productId"
      [wishClass]="hartScaled ? 'wish__product-view-scaled' : 'wish__product-item'">
    </app-wish-button>
  </div>
  <div class="item-labels">
    <h4 class="item-labels__title">
      {{ productTitle }}
    </h4>
    <span class="item-labels__price">
      {{ productPrice }}
    </span>
  </div>
</div>
