<div class="col-3 product-item__container">
  <div class="product-item__picture__container">
    <a routerLink="/products/{{ productId }}"
       (click)="addIdToLocalStorage(productId, order)">
      <div
        class="product-item__image-wrapper"
        [ngClass]="status | lowercase"
        (downloadImage)="showImage=true">
          <img *ngIf="!showImage" [src]="placeholderImage">
          <img *ngIf="showImage"
            class="product-item__picture"
            [alt]="productTitle"
            [src]="imgUrl"/>
      </div>
    </a>
    <app-wish-button class="wish__btn" [productId]="productId" wishClass="wish__product-item">
    </app-wish-button>
  </div>
  <h4 class="product-item__title">{{ productTitle }}</h4>
  <p class="product-item__price">{{ productPrice }}</p>
</div>
