@import '../../styles/variables';

.content__title {
  text-align: left;
}

.story {
  &__wrapper {
    display: flex;
    padding-top: 40px;
    height: 550px;
  }

  &__picture {
    padding: 20px;
  }

  &__container {
    background: $bgColorMedium;

    &_baner {
      background: url('../../../assets/img/blazers-daytime-dress.jpg') top / cover no-repeat;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5% 10% 0 10%;
      height: 450px;
    }
  }
}

@media screen and (max-width: 992px) {
  .story {
    &__article {
      height: 350px;
  
      &__wrapper {
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .story {
    &__wrapper {
      height: 550px;
      font-size: 0.8rem;
    }

    &__article {
      height: 450px;
  
      &__wrapper {
        padding: 0 10% 0 10%;
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .story {
    &__container {
      width: 70%;
    }
  }
}

@media screen and (max-width: 320px) {
  .story {
    &__wrapper {
      height: auto;
      flex-direction: column;
    }

    &__container {
      width: 100%;
      height: 450px;

      &_baner {
        width: 100%;
        height: 500px;
      }
    }

    &__article {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 300px;

      &__wrapper {
        height: 400px;
      }
    }
  }
}
