@import 'src/app/styles/variables';

$buttons-spacing: 15px;
$button-size: 22px;
$select-color-height: 40px;
$item-shadow-color: rgb(100, 100, 100, 0.4);

.select-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: $select-color-height;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  .colorBtn {
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px $item-shadow-color;
    margin: 0 $buttons-spacing;

    &.selected {
      box-shadow: 0 0 3px 3px $accentColor;
    }
  }
}