<div class="menu">
  <div class="content__container">
    <div class="col-12 menu__wrapper">
      <div class="col-9 menu__container">
        <ul class="menu__list col-6">
          <li class="menu__list__item">Shopping Cart</li>
          <li class="menu__list__item">Wish List</li>
          <li class="menu__list__item">Checkout</li>
          <li class="menu__list__item">My Account</li>
        </ul>
        <div class="col-5 menu__input__container">
          <div class="col-7 menu__search__container">
            <input type="text" placeholder="Search" class="menu__search">
            <button class="menu__search__btn">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
          <div class="col-4 menu__cart__container">
            <button class="menu__cart__btn">
              <fa-icon [icon]="faCartArrowDown"></fa-icon>
            </button>
            <div class="menu__cart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
