<div class="promo__container">    
  <div class="col-12 image__container">
    <div class="content__container">
      <div class="col-4 promo__content">
        <h1 class="promo__header">fashion that likes to say <span class="promo__header_accent">yes</span></h1>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
        <app-button [class]="'button_accent'">Shop now</app-button>
      </div>
    </div>
  </div>
</div>
