<section class="join-us">
    <div class="join-us content__container">
    <div class="join-us__wrapper" *ngIf="!localStorageService.subscribed">
        <h4 class="join-us__title">{{ formText.message }}</h4>

        <input 
        [(ngModel)]="localStorageService.userEmail" 
        class="email_input" 
        [class.error]="invalid" 
        type="text" 
        (input)="onValidate()"
        placeholder="Your eMail">

        <app-button 
        [buttonClass]="'button_accent'"  
        [disabled]="buttonDisabled" 
        (click)="localStorageService.localStorageAdd('userEmail')">
        {{ formText.subscribe }}           
        </app-button>

    </div>
    <div class="join-us__collapse" *ngIf="localStorageService.subscribed"> 
        <h4 class="join-us__title">{{ formText.success }}</h4>
        <app-button 
        [buttonClass]="'button_accent'" 
        (click)="localStorageService.localStorageDelete('userEmail')">
        {{ formText.unsubscribe }}
        </app-button>
    </div>
</div>
</section>