<section class="join-us">
    <div class="join-us content__container">
    <div class="join-us__wrapper" *ngIf="!localStorageService.subscribed">
        <h4 class="join-us__title">{{ formText.message }}</h4>

        <input 
          type="text" 
          class="email_input" 
          placeholder="Your email"
          [(ngModel)]="localStorageService.userEmail" 
          [class.error]="invalid" 
          (input)="onValidate()"
          (blur)="onBlur()">

        <app-button 
          [buttonClass]="'button_accent'"  
          [disabled]="buttonDisabled" 
          (click)="saveUser()">
          {{ formText.subscribe }}
        </app-button>

    </div>
    <div class="join-us__collapse" *ngIf="localStorageService.subscribed"> 
        <h4 class="join-us__title">{{ formText.success }}</h4>
        <app-button 
          [buttonClass]="'button_accent'" 
          (click)="deleteUser()">
          {{ formText.unsubscribe }}
        </app-button>
    </div>
</div>
</section>