@import '../../styles/_variables.scss';

.promo {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: rgba($color: $bgColorDark, $alpha: 0.9);
    color: $accentColor;
  }
}
