@import '../../styles/_variables.scss';

.carousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: $bgColorLight;
  }
}

.products {
  display: flex;
  transition: margin-left 500ms;

  &__container {
    width: 1040px;
    overflow-x: hidden;
  }
}

button {
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $bgColorDark;

  &:disabled {
    opacity: 0.1;
  }
}

.arrow-icon {
  color: $fontColorLight;
}

.left {
  position: absolute;
  top: 42%;
  left: 5%;
}

.right {
  position: absolute;
  top: 42%;
  right: 5%;
}

@media screen and (max-width: 992px) {
  .products {  
    &__container {
      width: 780px;
    }
  }
}

@media screen and (max-width: 768px) {
  .products {  
    &__container {
      width: 520px;
      overflow: auto;

      &::-webkit-scrollbar {
        background: inherit;
      }
    }
  }

  .right,
  .left {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .products {  
    &__container {
      width: 260px;
    }
  }
}
