@import '../../styles/_variables.scss';

.carousel {
  position: relative;
  
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: $bgColorLight;
  }
}

.products {
  display: flex;
  transition: margin-left 500ms;

  &__container {
    overflow-x: hidden;
  }
}

button {
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $bgColorDark;

  &:disabled {
    opacity: 0.1;
  }
}

.arrow-icon {
  color: $fontColorLight;
}

.prev {
  position: absolute;
  top: 42%;
  left: 5%;
}

.next {
  position: absolute;
  top: 42%;
  right: 5%;
}

@media screen and (max-width: 768px) {
  .products {
    &__container {
      overflow: auto;

      &::-webkit-scrollbar {
        background: inherit;
      }
    }
  }

  .prev,
  .next {
    display: none;
  }
}
